<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                
                <binding name="BasicHttpsBinding_IEnrollmentService">
                    <security mode="Transport" />
                </binding>
                
                <binding name="BasicHttpsBinding_ICourseService">
                    <security mode="Transport" />
                </binding>
                
                <binding name="BasicHttpsBinding_IStudentService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            
            <endpoint address="https://enrollmentsystemservice.azurewebsites.net/EnrollmentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEnrollmentService"
                contract="EnrollmentServiceReference.IEnrollmentService" name="BasicHttpsBinding_IEnrollmentService" />
            
            <endpoint address="https://enrollmentsystemservice.azurewebsites.net/CourseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICourseService"
                contract="CourseServiceReference.ICourseService" name="BasicHttpsBinding_ICourseService" />
            
            <endpoint address="https://enrollmentsystemservice.azurewebsites.net/StudentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IStudentService"
                contract="StudentServiceReference.IStudentService" name="BasicHttpsBinding_IStudentService" />
        </client>
    </system.serviceModel>
</configuration>